$blue-main: #488eff;
$blue-main-dark: #1b68e6;
$blue-dark: #1358c7;
$blue-light: #6fa6ff;
$blue-gray: #edf3fd;
$blue-disabled: #b4cef7;

$gray-main: #b7bdc9;
$gray-main-light: #d5d9e3;
$gray-main-dark: #9ca4b4;
$gray-light: #edf2f2;

$gray-dark-main: #475975;
$gray-dark-light: #5a6c89;
$gray-dark-dark: #25344a;

$white-main: #ffffff;
$white-main-dark: #fafbfc;

// Spcial colors
$main-menu-link: #707e94;
$main-menu-link-hover: #1d325c;
$border-light-gray: #e6e6e6;