@import url('https://fonts.googleapis.com/css?family=Poppins:400,600|Source+Sans+Pro');

$poppins: "Poppins", sans-serif;

.placeholder-text {
    font-family: 'Source Sans Pro', sans-serif;
    @include font-size(22px);
    line-height: 2.0;
    color: black;
}

a, a:link, a:visited {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: $blue-light;
    border-bottom: 2px solid rgba(27, 105, 230, 0.32);
    @include border-radius(2px);
    @include transition(all 230ms ease-in-out);

    &:focus {
        outline: none;
    }

    &:hover {
        color: $blue-main;
        background-color: rgba(27, 105, 230, 0.08);
        border-color: transparent;
    }

    &:active {
        color: $blue-main-dark;
        background-color: rgba(27, 105, 230, 0.08);
        border-color: transparent;
    }
}

h1 {
    font-family: $poppins;
    @include font-size(50px);
    font-weight: 600;
    line-height: 1.0;
    letter-spacing: -1px;
    color: $white-main;
}

h2 {
    font-family: $poppins;
    @include font-size(32px);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -1px;
    color: $white-main;
}

h3 {
    font-family: $poppins;
    @include font-size(22px);
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.7px;
    color: $white-main;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;

    &.dark {
        color: $gray-dark-dark;
    }
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    @include font-size(22px);
    line-height: 1.59;
    color: $white-main;
    padding-top: 12px;

    &.dark {
        color: rgba(90, 108, 137, 0.56);
    }
}